.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.auth-card {
  width: 360px;
  padding: 30px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.auth-header {
  text-align: center;
  margin-bottom: 16px;
}

.auth-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.input-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auth-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}

.auth-btn:disabled {
  background: #93c5fd;
  cursor: not-allowed;
}

.social-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #ffffff;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 500;
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}

.success-text {
  color: green;
  margin-bottom: 10px;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.switch-link {
  color: #2563eb;
  cursor: pointer;
  font-weight: bold;
}

.forgot-password {
  text-align: right;
  font-size: 13px;
  cursor: pointer;
  color: #2563eb;
  margin-bottom: 10px;
}


.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  width: 100%;
  padding: 12px 16px;

  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;

  font-size: 15px;
  font-weight: 500;
  color: #333;

  cursor: pointer;
  transition: all 0.25s ease;
}

.google-btn:hover {
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.google-btn:active {
  transform: scale(0.98);
}

.google-icon {
  width: 20px;
  height: 20px;
}
