* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eaf3ff;
  min-height: 100vh;
}

.navbar {
  background-color: #1e3a8a;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 22px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #2563eb;
}

.page-container {
  padding: 60px;
  text-align: center;
}

.page-container h1 {
  font-size: 32px;
  color: #1f2937;
  margin-bottom: 10px;
}

.page-container p {
  font-size: 16px;
  color: #4b5563;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.auth-container {
  width: 380px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 40px;
  color: #2563eb;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 15px;
}

.tab {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
}

.tab.active {
  background: #1e3a8a;
  color: white;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

label {
  font-size: 13px;
  margin-top: 10px;
  display: block;
  color: #1f2937;
}

input {
  width: 100%;
  padding: 9px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #1e40af;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: #777;
  font-size: 12px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.google-btn:hover {
  background: black;
  color: white;
  transform: scale(1.05);
}

.google-btn img {
  width: 18px;
}
